.return-button {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 60px;
    height: 60px;
    padding: 1em;
    background: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px; 
    z-index: 9999; 
}

.return-button button {
    color: white;
    font-size: 24px;
    background: transparent;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.return-button button:hover {
    transform: scale(1.5);
}

.return-button button:active {
    color: #eaff00;
}
