.semaforo {
  position: absolute;
  width: 40px;
  height: 100px;
  background: #222;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8px;
  gap: 6px;
  z-index: 20; /* por encima de la carretera */
  box-shadow: 0 0 8px #0008;
}

.label {
  position: absolute;
  top: -25px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 2px black;
}

.light {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background: #444; /* por defecto apagado */
}

.red.active {
  background: #ff2d2d;
}
.yellow.active {
  background: #ffe733;
}
.green.active {
  background: #26ff5a;
}
